@charset "UTF-8";

/*
    Typical device breakpoints 
    ---------------------------
    Telas muito pequenas: -600px
    Celulares: 600px - 768px
    Tablet: 768px - 992px
    Desktop: 992px - 1200px
    Telas muito grandes: 1201px+
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #081C1B, #265331);
    }

    section#login {
        width: 90vw;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 45%;
    }

    section#login > div#form {
        float: right;
        width: 55%;
    }

    div#form {
        text-align: center;
    }
    
    form > footer{
        display: inline-block;
    }
    }   

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #081C1B, #265331);
    }

    section#login {
        width: 900px;
        height: 390px;
    }

    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form {
        text-align: center;
    }
    
    form > footer{
        display: inline-block;
    }
}